header {
    background-color: blue;
    margin-bottom: 30px;
}
header > h1 {
    color: cornsilk;
    font-family: fantasy;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}
.MEMORY__mainbox{
    margin: 80px;
    border:1px solid grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.MEMORY__box{
    height: 24.6%;
    width: 24.6%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.MEMORY__backimg{
    height: 60%;
    width: 60%;
}